<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<mat-toolbar>
  <mat-toolbar-row>
    <button class="navbtn" mat-button routerLink="/dashboard">
      <mat-icon>arrow_back</mat-icon>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="">
      <span>About</span>&nbsp;
    </button>
    <a class="navbtn" href="https://formsubmit.co/el/rajemi"
      ><button mat-button><span>Contact</span>&nbsp;</button></a
    >
    <button class="navbtn" mat-button routerLink="/dashboard/external">
      <span>External</span>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="/dashboard/request">
      <span>Request</span>&nbsp;
    </button>
    <button id="logo" mat-button routerLink="dashboard">
      <img src="../../../assets/new.jpg" width="150px" />&nbsp;
    </button>

    <button class="navbtn" id="profile" mat-button [matMenuTriggerFor]="menu">
      <span>{{ fullName }}</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/wallet">My Wallet</button>
      <button mat-menu-item routerLink="/dashboard/recenttransaction">
        Recent Transaction
      </button>
      <button mat-menu-item *ngIf="isUserAuthenticated()">
        <a class="logout" (click)="logOut()">Logout</a>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<section class="section">
  <mat-card class="stream-card">
    <h1>Individual Transaction</h1>
    <body class="content">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="recieverId">
          <th class="head" mat-header-cell *matHeaderCellDef>Reciever ID</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.recieverId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th class="head" mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.amount }}
          </td>
        </ng-container>

        <ng-container matColumnDef="time">
          <th class="head" mat-header-cell *matHeaderCellDef>Time</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.time }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </table>
    </body>
  </mat-card>
</section>

<section class="section">
  <mat-card class="stream-card">
    <h1>External Transaction</h1>
    <body class="content">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
        <ng-container matColumnDef="extId">
          <th class="head" mat-header-cell *matHeaderCellDef>External Id</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.extId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="content">
          <th class="head" mat-header-cell *matHeaderCellDef>Content</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.content }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th class="head" mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.amount }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </table>
    </body>
  </mat-card>
</section>

<section class="section">
  <mat-card class="stream-card">
    <h1>Group Transaction</h1>
    <body class="content">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource3" class="mat-elevation-z8">
        <ng-container matColumnDef="groupId">
          <th class="head" mat-header-cell *matHeaderCellDef>Group Id</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.groupId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="reqId">
          <th class="head" mat-header-cell *matHeaderCellDef>
            Request Person ID
          </th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.reqId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amount">
          <th class="head" mat-header-cell *matHeaderCellDef>Amount</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.amount }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns3"></tr>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </table>
    </body>
  </mat-card>
</section>
