<mat-toolbar>
  <mat-toolbar-row>
    <button class="navbtn" mat-button routerLink="">
      <span>About</span>&nbsp;</button
    >&nbsp;&nbsp;
    <a class="navbtn" href="https://formsubmit.co/el/rajemi"
      ><button mat-button><span>Contact</span>&nbsp;</button></a
    >&nbsp;&nbsp;
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <mat-icon>notification_important</mat-icon>
      </button>
      <span *ngIf="notificationCount > 0" class="badge badge-danger">{{
        notificationCount
      }}</span>
    </div>
    <button id="logo" mat-button routerLink="dashboard">
      <img src="../../../assets/new.jpg" width="150px" />&nbsp;
    </button>

    <button class="navbtn" id="profile" mat-button [matMenuTriggerFor]="menu">
      <span>{{ fullName }}</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/wallet">My Wallet</button>
      <button mat-menu-item (click)="logOut()" routerLink="/login">
        Logout
      </button>
      <!-- <a class="logout" (click)="logOut()">Logout</a> -->
      <button mat-menu-item routerLink="/dashboard/recenttransaction">
        Recent Transaction
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">
    <button mat-raised-button>
      <a [routerLink]="['individual']" class="one">Individual</a></button
    ><br /><br /><br />
    <button mat-raised-button>
      <a [routerLink]="['external']" class="one">External</a></button
    ><br /><br /><br />
    <button mat-raised-button>
      <a [routerLink]="['wallet']" class="one">Wallet</a></button
    ><br /><br /><br />
    <button mat-raised-button>
      <a [routerLink]="['request']" class="one">Request</a></button
    ><br /><br /><br />
    <button mat-raised-button *ngIf="isUserAuthenticated()">
      <a class="one" (click)="logOut()">Logout</a></button
    ><br /><br />
  </mat-drawer>

  <div class="example-sidenav-content">
    <!-- <div class="chart-container">
      <canvas id="MyChart" width="200" height="200">{{ chart }}</canvas>
    </div> -->

    <button type="button" mat-button (click)="drawer.toggle()">
      <img src="../../../assets/logo.jpg" width="400px" />
    </button>
  </div>
</mat-drawer-container>
