<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<mat-toolbar>
  <mat-toolbar-row>
    <button class="navbtn" mat-button routerLink="/dashboard">
      <mat-icon>arrow_back</mat-icon>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="">
      <span>About</span>&nbsp;
    </button>
    <a class="navbtn" href="https://formsubmit.co/el/rajemi"
      ><button mat-button><span>Contact</span>&nbsp;</button></a
    >
    <button class="navbtn" mat-button routerLink="/dashboard/external">
      <span>External</span>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="/dashboard/request">
      <span>Request</span>&nbsp;
    </button>
    <button id="logo" mat-button routerLink="dashboard">
      <img src="../../../assets/new.jpg" width="150px" />&nbsp;
    </button>

    <button class="navbtn" id="profile" mat-button [matMenuTriggerFor]="menu">
      <span>{{ fullName }}</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/wallet">My Wallet</button>
      <button mat-menu-item *ngIf="isUserAuthenticated()">
        <a class="logout" (click)="logOut()">Logout</a>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<section class="section">
  <mat-card class="stream-card">
    <body class="content">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. ium"
          #input
        />
      </mat-form-field>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="empId">
          <th class="head" mat-header-cell *matHeaderCellDef>Employee ID</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.empId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="empFname">
          <th class="head" mat-header-cell *matHeaderCellDef>Name</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            {{ element.empFname }}
          </td>
        </ng-container>

        <ng-container matColumnDef="send">
          <th class="head" mat-header-cell *matHeaderCellDef>Send</th>
          <td mat-cell class="tablecontent" *matCellDef="let element">
            <button
              mat-button
              matTooltip="Allocate Stream"
              matTooltipPosition="right"
              (click)="openDialog('Add', element)"
              id="send"
            >
              <mat-icon>send</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-paginator
          [pageSizeOptions]="[5, 10, 25, 100]"
          aria-label="Select page of users"
        ></mat-paginator>
      </table>
    </body>
  </mat-card>
</section>

<!-- <div class="container2" *ngIf="showForm">
    <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
    <ng-template #formTemplate>
      <form class="myform" [formGroup]="transferForm" (ngSubmit)="submit()">
        <mat-form-field>
          <input
            matInput
            placeholder="Amount"
            type="number"
            formControlName="amount"
          />
          <span matPrefix>&#8377;&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            [(ngModel)]="myid"
            placeholder="Sender"
            formControlName="senderId"
          />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Receiver" formControlName="recieverId" />
        </mat-form-field>
        <br />
        <button type="submit" id="send" mat-raised-button>Transfer</button>
      </form>
    </ng-template>
  </div>
</section> -->

<!-- <section class="section">
  <div class="container1">
    <table class="mytable" *ngIf="employee && employee.length > 0"></table>
    <thead class="list">
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td></td>
      </tr>
    </thead>
    <tbody class="list">
      <tr *ngFor="let emp of employee">
        <td>{{ emp.empId }}</td>
        <td>{{ emp.empFname }}</td>
        <td>
          <span>&#8377;&nbsp;</span>
          <button
            mat-raised-button
            mat-button
            (click)="showForm = !showForm"
            id="send"
          >
            Send
          </button>
        </td>
      </tr>
    </tbody>
    <p *ngIf="!employee || employee.length <= 0">No Employees Found</p>
  </div> -->
