<div mat-dialog-content class="mat">
  <form class="myform" [formGroup]="transferForm">
    <mat-form-field appearance="fill">
      <input
        matInput
        placeholder="Amount"
        type="number"
        formControlName="amount"
      />
      <span matPrefix>&#8377;&nbsp;</span>
      <span matSuffix>.00</span>
    </mat-form-field>
    <mat-form-field appearance="fill" class="invisible">
      <input
        matInput
        [(ngModel)]="myid"
        placeholder="Sender"
        formControlName="senderId"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput placeholder="Receiver" formControlName="recieverId" />
    </mat-form-field>
    <div mat-dialog-actions>
      <button class="button1" mat-button (click)="doAction()" id="send">
        Transfer
      </button>
      <button class="button2" mat-button (click)="closeDialog()" id="send">
        Cancel
      </button>
    </div>
  </form>
</div>
