* {
    font-family:
        Arial,
        sans-serif;
    margin: 0;
    padding: 0;
}

.heading {
    display: flex;
    background-color: black;
    width: 100%;
    height: 63px;
}

.bbc-logo {
    width: 10%;
}

.bbc-logo img {
    width: 86%;
    margin: 15px;
}

.sign-in {
    width: 12%;
    color: white;
    margin: 23px 0 23px 0;
    font-weight: 600;
    font-size: small;
    text-decoration: none;
    border-right: 1px solid rgb(66, 66, 66);
}

.sign-in::after {
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.sign-in:hover::after {
    width: 100%;
}


.material-icons {
    color: white;
    margin-top: 13px;
    margin-left: 10px;
}


.features {
    display: flex;
    margin-left: 10px;
}

.features li {
    display: block;
    padding: 20px;
}

.features li a {
    color: white;
    font-size: small;
    font-weight: 600;
    display: block;
    text-decoration: none;
    margin-top: 5px;
}

.f1 li a {
    text-decoration: none;
}

.f1 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.f1 a:hover::after {
    width: 100%;
}

.f2 li a {
    text-decoration: none;
}

.f2 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.f2 a:hover::after {
    width: 100%;
}

.f3 li a {
    text-decoration: none;
}

.f3 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: yellow;
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.f3 a:hover::after {
    width: 100%;
}

.f4 li a {
    text-decoration: none;
}

.f4 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: blue;
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.f4 a:hover::after {
    width: 100%;
}

.f5 li a {
    text-decoration: none;
}

.f5 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(1, 1, 135);
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.f5 a:hover::after {
    width: 100%;
}

.f6 li a {
    text-decoration: none;
}

.f6 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: green;
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.f6 a:hover::after {
    width: 100%;
}

.f7 li a {
    text-decoration: none;
}

.f7 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(0, 90, 0);
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.f7 a:hover::after {
    width: 100%;
}

.f8 li a {
    text-decoration: none;
}

.f8 a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(122, 0, 122);
    display: block;
    margin-top: 12px;
    transition: 0.1s;
}

.f8 a:hover::after {
    width: 100%;
}


.search-tag {
    width: 18%;
    margin: 13px 0 13px 0;
    background-color: rgb(35, 35, 35);
    color: white;
    text-decoration: none;
    font-size: small;
    font-weight: 600;
    text-indent: 5px;
    display: flex;

}

.search-tag:hover {
    background-color: rgb(51, 51, 51);
}

i.fa.fa-search {
    margin-top: 10px;
}

.search-tag li {
    display: block;
    text-decoration: none;
    margin-top: 10px;
    text-indent: 10px;
}

/* main */
.adv-img {
    width: 100%;
    margin-top: 8px;
}

.adv-tag img {
    width: 100%;
}

/*  */

#title-card {

    display: flex;
}

#title-card h2 {
    color: rgb(74, 73, 73);
    padding: 12px;
    margin-top: 12px;
}

#title-card h3 {
    text-align: end;
    margin-left: 800px;
    color: rgb(122, 122, 122);
    padding: 10px;
    margin-top: 13px;
    font-weight: 300;

}

.welcome-page {
    width: 100%;
    display: flex;
    ;
}

/* container 1 */

.container-1 {
    width: 50%;
    position: relative;

    color: white;
    padding: 13px;
}

.container-1 img {
    height: 350px;
    cursor: pointer;
    transition: 0.3s;
}

.container-1 img:hover {
    opacity: 0.8;
}

.container-1 p {
    color: rgba(255, 255, 255, 0.737);
}

.container-1 h6 {
    font-weight: 300;
    font-size: small;
    color: rgba(255, 255, 255, 0.737);
}

.container-1 h6:hover {
    color: white;
}

.bottom-left-1 {
    padding: 10px;
    position: absolute;
    bottom: 22px;
    left: 16px;
}

.bottom-left-1 h1 {
    font-weight: 500;
    font-size: xx-large;
}

.bottom-left-1 h6 {
    border-left: 2px solid red;
    text-indent: 10px;
}

.bottom-left-1 a {
    display: block;
}

.bottom-left-1 a:hover {
    text-decoration: underline;
    color: white;
}

/* container 2 */

.container-2 {
    width: 28%;

}

.container-2 img {
    height: 165px;
    padding: 12px 12px 0 0;
    cursor: pointer;
    transition: 0.3s;
}

.container-2 img:hover {
    opacity: 0.8;
}

.container-2 h6:hover {
    color: white;
}

/* bottom left-2 */
.bottom-left-2 {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: -15px;
    margin-left: 665px;
}

.bottom-left-2 h1 {
    font-weight: 500;
    font-size: large;
    color: white;
}

.bottom-left-2 h6 {
    border-left: 2px solid rgb(87, 182, 214);
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(255, 255, 255, 0.737);
}

.bottom-left-2 a {
    display: block;
    text-decoration: none;

}

.bottom-left-2 a:hover {
    text-decoration: underline;
    color: white;
}

/* bottom-left-3 */

.bottom-left-3 {
    padding: 10px;
    position: absolute;
    bottom: -180px;
    left: -15px;
    margin-left: 665px;
}

.bottom-left-3 h1 {
    font-weight: 500;
    font-size: large;
    color: white;
}

.bottom-left-3 h6 {
    border-left: 2px solid rgb(87, 182, 214);
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(255, 255, 255, 0.737);
}

.bottom-left-3 a {
    display: block;
    text-decoration: none;
}

.bottom-left-3 a:hover {
    text-decoration: underline;
    color: white;
}

/* container 3 */

.container-3 {
    width: 28%;
}

.container-3 img {
    height: 165px;
    padding: 12px 12px 0 0;
    cursor: pointer;
    transition: 0.3s;
}

.container-3 img:hover {
    opacity: 0.8;
}

/* bottom left 4 */

.bottom-left-4 {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    left: -66px;
    margin-left: 1025px;
}

.bottom-left-4 h1 {
    font-weight: 500;
    font-size: large;
    color: white;
}

.bottom-left-4 h6 {
    border-left: 2px solid rgb(87, 182, 214);
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(255, 255, 255, 0.737);
}

.bottom-left-4 a {
    display: block;
    text-decoration: none;

}

.bottom-left-4 a:hover {
    text-decoration: underline;
    color: white;
}

/* bottom-left-5 */

.bottom-left-5 {
    padding: 10px;
    position: absolute;
    bottom: -180px;
    left: -66px;
    margin-left: 1025px;
}

.bottom-left-5 h1 {
    font-weight: 500;
    font-size: large;
    color: white;
}

.bottom-left-5 h6 {
    border-left: 2px solid rgb(87, 182, 214);
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(255, 255, 255, 0.737);
}

.bottom-left-5 a {
    display: block;
    text-decoration: none;
}

.bottom-left-5 a:hover {
    text-decoration: underline;
    color: white;
}

/* news and sports*/
.news-sport {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 98%;
    margin: 13px;
}


.news-1 {
    width: 28%;
}

.news-2 {
    width: 28%;
}

.news-3 {
    width: 28%;
}

.news-8 {
    width: 28%;
}

.news-9 {
    width: 28%;
}



.news-1 h2 {
    padding-left: 10px;
    color: rgba(45, 45, 45, 0.87);
    border-left: 4px solid red;
}

.news-1 h2:hover {
    color: black;
}


.news-4 {
    margin-top: 10px;
    width: 100%;
}

.news-4 img {
    padding: 0 10px 10px 0;
    opacity: 0.9;
    cursor: pointer;
}

.news-4 img :hover {
    opacity: 1;
}

.news-4 h3 {
    color: black;
}

.news-4 p {
    color: rgba(45, 45, 45, 0.87);
    margin-top: 10px;
}

.news-4 h6 {
    border-left: 2px solid red;
    margin-top: 10px;
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(99, 99, 99, 0.737);
}

.news-4 a {
    display: block;
    text-decoration: none;

}

.news-4 a:hover {
    text-decoration: underline;
    color: rgba(99, 99, 99, 0.737);
}

.news-5 {
    margin-top: 10px;
    width: 100%;
}

.news-5 img {
    padding: 0 10px 10px 0;
}

.news-5 img :hover {
    opacity: 0.8;
}

.news-5 h3 {
    color: black;
}

.news-5 p {
    color: rgba(45, 45, 45, 0.87);
    margin-top: 10px;
}

.news-5 h6 {
    border-left: 2px solid red;
    margin-top: 10px;
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(99, 99, 99, 0.737);
}

.news-5 a {
    display: block;
    text-decoration: none;

}

.news-5 a:hover {
    text-decoration: underline;
    color: rgba(99, 99, 99, 0.737);
}

.news-6 {
    margin-top: 10px;
    margin-left: -13px;
    width: 100%;
}

.news-6 img {
    padding: 0 10px 10px 0;
}

.news-6 img :hover {
    opacity: 0.8;
}

.news-6 h3 {
    color: black;
}

.news-6 p {
    color: rgba(45, 45, 45, 0.87);
    margin-top: 10px;
}

.news-6 h6 {
    border-left: 2px solid red;
    margin-top: 10px;
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(99, 99, 99, 0.737);
}

.news-6 a {
    display: block;
    text-decoration: none;

}

.news-6 a:hover {
    text-decoration: underline;
    color: rgba(99, 99, 99, 0.737);
}

.news-7 {
    width: 30%;
    margin-top: 30px;
}

.news-7 h2 {
    padding-left: 10px;
    color: rgba(45, 45, 45, 0.87);
    border-left: 4px solid yellow;
}

.news-7 h2:hover {
    color: black;
}

.news-10 {
    margin-top: 10px;
    width: 100%;
}

.news-10 img {
    padding: 0 10px 10px 0;
}

.news-10 img :hover {
    opacity: 0.8;
}

.news-10 h3 {
    color: black;
}

.news-10 p {
    color: rgba(45, 45, 45, 0.87);
    margin-top: 10px;
}

.news-10 h6 {
    border-left: 2px solid red;
    margin-top: 10px;
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(99, 99, 99, 0.737);
}

.news-10 a {
    display: block;
    text-decoration: none;

}

.news-10 a:hover {
    text-decoration: underline;
    color: rgba(99, 99, 99, 0.737);
}

.news-11 {
    margin-top: 10px;
    width: 100%;
}

.news-11 img {
    padding: 0 10px 10px 0;
}

.news-11 img :hover {
    opacity: 0.8;
}

.news-11 h3 {
    color: black;
}

.news-11 p {
    color: rgba(45, 45, 45, 0.87);
    margin-top: 10px;
}

.news-11 h6 {
    border-left: 2px solid red;
    margin-top: 10px;
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(99, 99, 99, 0.737);
}

.news-11 a {
    display: block;
    text-decoration: none;

}

.news-11 a:hover {
    text-decoration: underline;
    color: rgba(99, 99, 99, 0.737);
}

.news-12 {
    margin-top: 10px;
    width: 100%;
    margin-left: -13px;
}

.news-12 img {
    padding: 0 10px 10px 0;
}

.news-12 img :hover {
    opacity: 0.8;
}

.news-12 h3 {
    color: black;
}

.news-12 p {
    color: rgba(45, 45, 45, 0.87);
    margin-top: 10px;
}

.news-12 h6 {
    border-left: 2px solid red;
    margin-top: 10px;
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(99, 99, 99, 0.737);
}

.news-12 a {
    display: block;
    text-decoration: none;

}

.news-12 a:hover {
    text-decoration: underline;
    color: rgba(99, 99, 99, 0.737);
}

#mum-weather {
    width: 90%;
    margin: 40px 10px 40px 10px;
}

#mum-weather img {
    width: 41%;
}

/* reel */
.bgrnd-img {
    background-image: url(../images/bggrnd.jpg);
    padding-top: 20px;

    /* margin: 13px; */
}

.bgrnd-img h1 {
    margin: 13px 0 0 13px;
    color: white;
    font-size: 50px;
}

.bgrnd-img h3 {
    color: white;
    font-weight: 400;
    padding-left: 13px;
    font-size: 20px;

}

.bg-head {
    display: flex;
}

.bg-head a {
    color: white;
    text-decoration: none;
    display: block;
}

#reel-tag a:hover {
    opacity: 0.9;
}

#reel-tag {
    margin-left: 980px;
    padding: 10px;
    border-color: white;
    font-size: large;
    border-radius: 35px;
    background-color: transparent;
}

.reel-content {
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

.reel-1 {
    width: 33%;
    margin: 10px 0 0 16px;
}

.reel-2 {
    width: 33%;
    margin-top: 10px;
    /* margin-left: 20px; */
}

.reel-3 {
    width: 33%;
    margin-top: 10px;
}

.reel-1 img {
    width: 97%;
}

.reel-1 img:hover {
    opacity: 0.8;
}


.reel-2 img {
    width: 97%;
}

.reel-2 img:hover {
    opacity: 0.8;
}

.reel-3 img {
    width: 97%;
}

.reel-3 img:hover {
    opacity: 0.8;
}

.side-left1 {
    width: 32%;
    padding-top: 10px;
    position: absolute;
    bottom: -1650px;
    left: 16px;
    background-color: white;

}

.side-left1 h3 {
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.side-left2 {
    width: 32%;
    padding-top: 10px;
    position: absolute;
    bottom: -1650px;
    right: 428px;
    background-color: white;
}

.side-left2 h3 {
    font-weight: 600;
    font-size: 20px;
    color: black;
}

.side-left3 {
    width: 32%;
    padding-top: 10px;
    position: absolute;
    bottom: -1650px;
    right: 13px;
    background-color: white;
}

.side-left3 h3 {
    font-weight: 600;
    font-size: 22px;
    color: black;
}

/* ind news */

#ind-header {
    border-left: 3px solid red;
    margin: 20px 0 0 13px;
    color: rgb(74, 73, 73);
}

.ind-news {
    display: flex;
    width: 100%;

}

.ind-news img:hover {
    opacity: 0.8;
}


.news-ind1 {
    margin-top: 13px;
    width: 24%;
    margin-left: 13px;
}

.news-ind1 img {
    width: 100%;
}

.news-ind2 {
    margin-top: 13px;
    margin-left: 13px;
    width: 24%;
}

.news-ind2 img {
    width: 100%;
}

.news-ind3 {
    margin-top: 13px;
    margin-left: 13px;
    width: 24%;
}

.news-ind3 img {
    width: 100%;
}

.news-ind4 {
    margin-top: 13px;
    margin-left: 13px;
    width: 24%;
}

.news-ind4 img {
    width: 100%;
}

.ind-news a h6 {
    border-left: 2px solid red;
    text-indent: 10px;
    font-weight: 300;
    font-size: medium;
    color: rgba(74, 73, 73, 0.705);
}

.ind-news a {
    display: block;
    text-decoration: none;
}

.ind-news a h6:hover {
    text-decoration: underline;
}

/* future planet */

.planet-bgd {
    margin-top: 20px;
    background-image: linear-gradient(rgba(8, 30, 4, 0.632), rgba(4, 30, 7, 0.772)), url(../images/planet-bgnd.jpg);
    background-position: center;
    padding-top: 20px;

    /* margin: 13px; */
}

.planet-head {
    margin: 10px 0 0 30px;
    background-color: transparent;
    font-size: 23px;
    font-weight: 700;
    display: flex;

}

h2 {
    display: flex;
}

button.planet-head {
    padding: 5px;
    border-color: green;
}

.planet-head a {
    color: white;
    text-decoration: none;
    display: block;

}

button#planet-tag {
    margin-left: 860px;
    padding: 10px;
}

button#planet-tag a {
    color: white;
    display: block;
    text-decoration: none;
}

button#planet-tag a:hover {
    opacity: 0.9;
}

#planet-tag {
    color: white;
    border-color: white;
    font-size: large;
    border-radius: 35px;
    background-color: transparent;
}

.planet-bgd h3 {
    color: white;
    font-weight: 400;
    padding-left: 30px;
    font-size: 18px;
    margin-top: 10px;
}

.future-content {
    display: flex;
    width: 100%;
    padding-bottom: 100px;
}

.future-1 {
    width: 33%;
    margin: 10px 0 0 16px;
}

.future-2 {
    width: 33%;
    margin-top: 10px;
    /* margin-left: 20px; */
}

.future-3 {
    width: 33%;
    margin-top: 10px;
}

.future-1 img {
    width: 97%;
}

.future-1 img:hover {
    opacity: 0.8;
}


.future-2 img {
    width: 97%;
}

.future-2 img:hover {
    opacity: 0.8;
}

.future-3 img {
    width: 97%;
}

.future-3 img:hover {
    opacity: 0.8;
}

.off-left1 {
    width: 32%;
    padding-top: 10px;
    position: absolute;
    bottom: -2540px;
    left: 16px;
    background-color: white;

}

.off-left1 h3 {
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.off-left2 {
    width: 32%;
    padding-top: 10px;
    position: absolute;
    bottom: -2540px;
    right: 428px;
    background-color: white;
}

.off-left2 h3 {
    font-weight: 600;
    font-size: 18px;
    color: black;
}

.off-left3 {
    width: 32%;
    padding-top: 10px;
    position: absolute;
    bottom: -2540px;
    right: 13px;
    background-color: white;
}

.off-left3 h3 {
    font-weight: 600;
    font-size: 18px;
    color: black;
}

/* new tech economy & tech of buisness  */

.tech-main {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    padding-top: 30px;
}

.newtech-eco {
    width: 50%;


}

.newtech-eco a img {
    width: 95%;
    margin: 13px 0 13px 13px;
}

.newtech-eco h2 {
    color: rgb(74, 73, 73);
    margin-left: 10px;
    font-size: 22px;
}

.newtech-eco h2:hover {
    color: black;
}

.newtech-eco a img:hover {
    opacity: 0.8;
}

.newtech-eco h6 {
    border-left: 2px solid red;
    margin-left: 20px;
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(0, 0, 0, 0.532);
    display: block;

}

.newtech-eco a {
    text-decoration: none;
}

.newtech-eco h6:hover {
    text-decoration: underline;
}

.newtech-eco h3 {
    padding: 10px;
    margin-left: 10px;
    font-size: 22px;
}

/* news eco & ceo */

.eco-ceo {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.new-eco {
    width: 33%;
    margin: 13px;
}

.new-eco img {
    width: 100%;
}

.new-eco img:hover {
    opacity: 0.8;
}

.new-eco h2 {
    padding-top: 10px;
    color: rgb(74, 73, 73);
}

.new-eco h2:hover {
    color: black;
}

/* worldinpictures */
#title-world {
    margin-left: 13px;
    padding-top: 20px;

}

#title-world a {
    text-decoration: none;
    display: block;
}

#title-world a h2:hover {
    color: black;
}

#title-world a h2 {
    color: rgb(74, 73, 73);
    border-left: 4px solid rgb(145, 145, 255);
    font-size: x-large;
}

.world-in-pictures {
    display: flex;
    width: 100%;

    /* margin: 10px; */
}

.world-pic1 {
    width: 48%;
    padding: 13px;
}

.world-pic1 img {
    width: 100%;
    height: 350px;
    cursor: pointer;
    transition: 0.3s;
}

.world-pic1 img:hover {
    opacity: 0.8;
}

.btm-lft1 {
    padding: 10px;
    position: absolute;
    bottom: -3830px;
    left: 16px;
}

.btm-lft1 h4 {
    color: rgba(255, 255, 255, 0.856);
    font-size: x-large;
}

.btm-lft1 a h6 {
    border-left: 2px solid rgb(87, 182, 214);
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(255, 255, 255, 0.737);
}

.btm-lft1 a {
    display: block;
    text-decoration: none;
}

.btm-lft1 a:hover {
    text-decoration: underline;
    color: white;
}

.world-pic2 {
    width: 48%;
    padding: 10px;
}

.world-pic2 img {
    width: 100%;
    height: 350px;
    cursor: pointer;
    transition: 0.3s;
}

.world-pic2 img:hover {
    opacity: 0.8;
}

.btm-lft2 {
    padding: 10px;
    position: absolute;
    bottom: -3830px;
    left: 650px;
}

.btm-lft2 h4 {
    color: rgba(255, 255, 255, 0.856);
    font-size: x-large;
}

.btm-lft2 a h6 {
    border-left: 2px solid rgb(87, 182, 214);
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(255, 255, 255, 0.737);
}

.btm-lft2 a {
    display: block;
    text-decoration: none;
}

.btm-lft2 a:hover {
    text-decoration: underline;
    color: white;
}

/* more world */
.more-world {
    display: flex;

}

.world-pic3 {
    width: 33%;
    padding: 13px;
    cursor: pointer;
    transition: 0.3s;
}

.world-pic3 img:hover {
    opacity: 0.8;
}

.world-pic3 img {
    width: 100%;
    height: 240px;

}

.world-pic3 h6 {
    border-left: 2px solid rgb(87, 182, 214);
    text-indent: 10px;
    font-weight: 300;
    font-size: small;
    color: rgba(0, 0, 0, 0.532);
    display: block;


}

.world-pic3 a {
    text-decoration: none;
}

.world-pic3 h6:hover {
    text-decoration: underline;
}


/* more lang  */
.language-tag {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}

#title-bar {
    margin-left: 10px;
    margin-top: 50px;

}

#title-bar a {
    color: rgb(74, 73, 73);
    text-decoration: none;
    display: block;
}

#title-bar h2:hover {
    color: black;
}

.words {
    padding: 10px;
    width: 40%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin: 0px 0px 140px 0px;

}

.words a {
    display: block;
    text-decoration: none;
    color: black;
}

.words a:hover {
    text-decoration: underline;
}

.words p {
    font-weight: 600;
    font-size: small;
}

.more-lang {
    width: 60%;
    display: grid;
    padding: 10px;
    gap: 15px;
    grid-template-columns: auto auto auto auto;
}

.more-lang a {
    text-decoration: none;
    color: black;
}

.more-lang a:hover {
    text-decoration: underline;
}

.more-lang p {
    font-size: small;
    font-weight: 500;
}

.more-lang p:hover {
    text-decoration: underline;
}

.more-lang p i {
    color: #1d6293;
}

.more-lang ul {
    display: inline-block;
}

.more-lang ul li {
    display: block;
    text-decoration: none;
}

/* footer */
footer {
    background-color: rgba(56, 56, 56, 0.888);
    margin-bottom: 20px;
}

.foot-tag h1 {
    color: rgba(255, 255, 255, 0.897);
    padding: 20px 30px 20px 12px;
    font-weight: 600;
}

.foot-tag ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 15px;
    padding: 20px;
    padding-inline: 10px;

}

.foot-tag ul li {
    text-decoration: none;
    display: block;
    color: rgba(255, 255, 255, 0.897);
    font-size: small;
    font-weight: 600;
    border-right: 1px solid rgb(184, 184, 184);

}

.foot-tag ul li:hover {
    text-decoration: underline;
}

.foot-link {
    display: flex;
}

.foot-link a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.897);
    font-size: small;
    font-weight: 400;
    padding: 12px;
    margin-top: 10px;
}

.foot-link a:hover {
    text-decoration: underline;
}

.copyright {
    display: flex;
    font-size: small;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.897);
    padding: 12px;
}

.copyright a {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.897);
    font-weight: 600;
}

.copyright a:hover {
    text-decoration: underline;
}