<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<mat-toolbar>
  <mat-toolbar-row>
    <button class="navbtn" mat-button routerLink="/dashboard">
      <mat-icon>arrow_back</mat-icon>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="">
      <span>About</span>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="">
      <span>Contact</span>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="/dashboard/external">
      <span>External</span>&nbsp;
    </button>
    <button id="logo" mat-button routerLink="dashboard">
      <img src="../../../assets/new.jpg" width="150px" />&nbsp;
    </button>

    <button class="navbtn" id="profile" mat-button [matMenuTriggerFor]="menu">
      <span>{{ fullName }}</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/wallet">My Wallet</button>
      <button mat-menu-item *ngIf="isUserAuthenticated()">
        <a class="logout" (click)="logOut()">Logout</a>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<section id="container">
  <div class="account">
    <section class="section">
      <div id="main">
        <div id="main2">
          <mat-icon>account_balance_wallet</mat-icon>
          <h3>My Wallet amount</h3>
          <p *ngFor="let wal of wallet">
            <b> &#8377;&nbsp;{{ wal.walletAmount }}</b
            >&nbsp;&nbsp;&nbsp;
            <button
              mat-button
              matTooltip="Allocate Stream"
              matTooltipPosition="right"
              (click)="openDialog()"
              id="send"
            >
              Add Money
            </button>
          </p>
          <br />
          <mat-icon>account_balance</mat-icon>
          <h3>My Account balance</h3>
          <p *ngFor="let wal of wallet">
            <b>&#8377;&nbsp;{{ wal.totalAmount }}</b>
          </p>
        </div>
      </div>

      <div class="sec">
        <img class="image" src="../../../assets/money.jpg" />
      </div>
    </section>
  </div>
</section>
<!-- <div class="container2" *ngIf="showForm">
    <ng-container *ngTemplateOutlet="formTemplate"></ng-container>
    <ng-template #formTemplate>
      <form class="myform" [formGroup]="transferForm" (ngSubmit)="submit()">
        <mat-form-field>
          <input
            matInput
            placeholder="Amount"
            type="number"
            formControlName="walletAmount"
          />
          <span matPrefix>&#8377;&nbsp;</span>
          <span matSuffix>.00</span>
        </mat-form-field>
        <br />
        <button class="btn" type="submit" mat-raised-button>Transfer</button>
      </form>
    </ng-template>
  </div>
</section> -->
