<section class="bg">
  <div class="center-content">
    <!-- <img class="image" src="/src/assets/logo.jpg" /> -->
    <mat-card class="example-card">
      <mat-card-title><h1>Login</h1></mat-card-title><br />
      <form [formGroup]="loginForm" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput placeholder="Username" formControlName="Username" />
          <mat-error *ngIf="Username?.errors?.['required']">
            Username is required
          </mat-error>
          <mat-error *ngIf="Username?.errors?.['Username']">
            Please enter a valid Username
          </mat-error>
          <mat-icon matSuffix>email</mat-icon> </mat-form-field
        ><br />

        <mat-form-field class="example-full-width">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="Password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="Password?.errors?.['required']">
            Password is required
          </mat-error> </mat-form-field
        ><br /><br />
        <p>
          <a class="tag" [routerLink]="['/forgetpassword']">Forget Password?</a>
        </p>
        <button type="submit" mat-button="primary">Submit</button>
        <div>
          <br />
          <p>
            New to our platform?&nbsp;<a class="tag" [routerLink]="['/signup']"
              >SignUp!</a
            >
          </p>
        </div>
      </form>
    </mat-card>
  </div>
</section>

<!-- <div class="form-container">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="Username" />
      <mat-error *ngIf="Username?.errors?.['required']">
        Email address is required
      </mat-error>
      <mat-error *ngIf="Username?.errors?.['Username']">
        Please enter a valid email address
      </mat-error>
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Password" formControlName="Password" />
      <mat-error *ngIf="Password?.errors?.['required']">
        Password is required
      </mat-error>
      <mat-error *ngIf="Password?.errors?.['Password']">
        Please enter a valid password
      </mat-error>
      <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>
    <div class="center margin-top">
      <button type="submit" mat-button color="primary">Submit</button>
    </div>
    <span>New to our platform?<a [routerLink]="['/signup']">SignUp!</a></span>
  </form>
</div> -->

<!-- <div class="center-content">
  <mat-card class="example-card">
    <mat-card-title>Login</mat-card-title><br />

    <mat-form-field class="example-full-width">
      <mat-label>Username</mat-label>
      <input
        type="email"
        name="email"
        matInput
        placeholder="Email"
        [(ngModel)]="credentials.Username"
      />
      <mat-icon matSuffix>email</mat-icon> </mat-form-field
    ><br />

    <mat-form-field class="example-full-width">
      <mat-label>Password</mat-label>
      <input
        type="password"
        name="password"
        matInput
        placeholder="Password"
        [(ngModel)]="credentials.Password"
      />
      <mat-icon matSuffix>vpn_key</mat-icon> </mat-form-field
    ><br /><br />
    <button mat-button color="primary" (click)="login()">Submit</button>
  </mat-card>
  <span>New to our platform?<a [routerLink]="['/signup']">SignUp!</a></span>
</div> -->
