body{
  font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
h1{
  font-weight: bold;
}
/* .image{
  display: block;
  width: 109px;
} */
.example-card {
    max-width: 400px;
    background-color:white;
    border-radius: 10px;
  }

.bg{
    background-color: beige;
    height: 100%;
  }
.mat-card-header{
  margin-left: 160px;
 
}
  
.center-content {
      padding-top: 100px;
      text-align: -webkit-center;    
  }
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
      margin-top: 10px;
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #FE4066;
    border-radius: 6px;
    
  }
  .tag{
    color: #FE4066;
  }