<mat-toolbar>
  <mat-toolbar-row>
    <button class="navbtn" mat-button routerLink="/dashboard">
      <mat-icon>arrow_back</mat-icon>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="">
      <span>About</span>&nbsp;
    </button>
    <a class="navbtn" href="https://formsubmit.co/el/rajemi"
      ><button mat-button><span>Contact</span>&nbsp;</button></a
    >
    <button class="navbtn" mat-button routerLink="/dashboard/individual">
      <span>Individual</span>&nbsp;
    </button>
    <button class="navbtn" mat-button routerLink="/dashboard/external">
      <span>External</span>&nbsp;
    </button>

    <button class="navbtn" id="profile" mat-button [matMenuTriggerFor]="menu">
      <span>{{ fullName }}</span>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/dashboard/wallet">My Wallet</button>
      <button mat-menu-item routerLink="/dashboard/recenttransaction">
        Recent Transaction
      </button>
      <button mat-menu-item (click)="logOut()" routerLink="/login">
        Logout
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<section class="myclass">
  <div class="first">
    <br />
    <mat-card class="example-card">
      <mat-card-title><h1>Ask For Request</h1></mat-card-title>
      <form [formGroup]="reqForm" (ngSubmit)="submit()">
        <mat-form-field class="example-full-width" id="invisible">
          <mat-label>Employee ID</mat-label>
          <input
            matInput
            [(ngModel)]="myid"
            placeholder="ID"
            formControlName="empId"
          /> </mat-form-field
        ><br />
        <mat-form-field class="example-full-width">
          <mat-label>Request Amount</mat-label>
          <input
            matInput
            placeholder="Amount"
            type="number"
            formControlName="quotedAmount"
          />
          <span matPrefix>&#8377;&nbsp;</span>
          <span matSuffix>.00</span></mat-form-field
        ><br />
        <mat-form-field class="example-full-width">
          <mat-label>Reason</mat-label>
          <input matInput placeholder="Reason" formControlName="purpose" />
          <mat-icon matSuffix>help</mat-icon> </mat-form-field
        ><br />
        <button type="submit" id="send" mat-button="primary">Create</button>
      </form></mat-card
    >
  </div>
  <div class="second">
    <mat-card class="stream-card">
      <body class="content">
        <mat-card-title><h1>Your Contribution</h1></mat-card-title>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="requestID">
            <th class="head" mat-header-cell *matHeaderCellDef>Request ID</th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.requestID }}&nbsp;
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="name">
            <th class="head" mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.name }}&nbsp;
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="reason">
            <th class="head" mat-header-cell *matHeaderCellDef>Purpose</th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.reason }}&nbsp;
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="quotedAmount">
            <th class="head" mat-header-cell *matHeaderCellDef>QuotedAmount</th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.quotedAmount }}
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="recievedAmount">
            <th class="head" mat-header-cell *matHeaderCellDef>
              RecievedAmount
            </th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.recievedAmount }}
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="send">
            <th class="head" mat-header-cell *matHeaderCellDef>Send</th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              <button
                mat-button
                matTooltip="Allocate Stream"
                matTooltipPosition="right"
                (click)="openDialog('Add', element)"
                id="send"
              >
                <mat-icon>send</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 25, 100]"
            aria-label="Select page of users"
          ></mat-paginator>
        </table>
      </body>
    </mat-card>
  </div>
</section>

<section class="myclass2">
  <div class="third">
    <mat-card class="stream-card">
      <body class="content">
        <mat-card-title><h1>Your Payback</h1></mat-card-title>
        <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8">
          <ng-container matColumnDef="groupId">
            <th class="head" mat-header-cell *matHeaderCellDef>Group ID</th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.groupId }}&nbsp;
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="contributorId">
            <th class="head" mat-header-cell *matHeaderCellDef>
              Contributor Id
            </th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.contributorId }}&nbsp;
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="empFname">
            <th class="head" mat-header-cell *matHeaderCellDef>
              Contributor Name
            </th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.empFname }}
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="amount">
            <th class="head" mat-header-cell *matHeaderCellDef>Amount</th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              {{ element.amount }}
            </td> </ng-container
          >&nbsp;

          <ng-container matColumnDef="sent">
            <th class="head" mat-header-cell *matHeaderCellDef>Send</th>
            <td mat-cell class="tablecontent" *matCellDef="let element">
              <button
                mat-button
                matTooltip="Allocate Stream"
                matTooltipPosition="right"
                (click)="openDialog2('Add', element)"
                id="send"
              >
                <mat-icon>send</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns2"></tr>
        </table>
        <!-- <div class="empty" *ngIf="!dataSource2">No records found</div> -->
      </body>
    </mat-card>
  </div>
</section>
