.bg{   
  background-color: beige;
  height: 100%;
}
.example-card {
  max-width: 400px;
  background-color:white;
  border-radius: 10px;
  }
  .mat-card-header{
    margin-left: 160px;
  }
  .center-content {
      /* margin-top: 100px; */
      text-align: -webkit-center;
  }

  .example-full-width { 
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #FE4066;
  }