.bg{   
  background-color: beige;
  height: 100%;
  display: flex;
}
.giphy{
  width:40%;
  height: 50%;

}
.img{
  width:60%;
  height: 90%;
  padding: 150px 80px 80px 80px;
  
}
.example-card {
  padding-top: 20px;
  max-width: 400px;
  background-color:white;
  border-radius: 10px;
  }
  .mat-card-header{
    margin-left: 160px;
  }
  .center-content {
    padding-top: 20px;
      text-align: -webkit-center;
  }

  .example-full-width { 
    width: 100%;
  }
  .mat-button{
      margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #FE4066;
  }