.myform
{
    /* left: 4em; */
    width: 18em;
    height: 14em;
    background-color:white; 
    overflow-y: auto;
    /* border: 2px solid #2DB7BC;  */  
}
.mat-dialog{
    max-width:500px;
    max-height: 200px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 12), 0 5px 5px 0 rgba(50, 51, 74, 5); 
}
.mat-dialog-content
{     
    position: relative;
}
.button1
{
    position: relative;
    /* left: 7.5em; */
    padding : 0.25em,1em,0.25em,1em;
    
}
.button2
{
    position: relative;
    /* left: 9.5em; */
    padding : 0.25em,1em,0.25em,1em;
}
.button1:hover{
    background-color: #FE4066;
    color: white;
}
.button2:hover{
    background-color: #FE4066;
    color: white;
}

body{
    overflow: hidden;
}